---
---

@import '{{ site.theme }}';

$sauder-green: #78be1f;
$ubc-blue: #002145;

a {
  color: $ubc-blue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.links {
  height: 4rem;
}

.logo {
  margin-bottom: 1rem;
}

header ul {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 0.5rem 0;
}

h3 {
  font-size: 1.2rem;
}

ul .doc_link {
  border: none;
  width: 100%;
}

ul .doc_link a {
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
}

.doc_link a:hover {
  color: $sauder-green;
}
