---
layout: default
---

<header>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous"
  />
</header>

<body>
  <h1>{{ page.title }}</h1>

  <p>{{ page.summary }}</p>

  <div class="btn_container">
    <a
      href="{{ page.repository }}"
      target="_blank"
      rel="noopener noreferrer"
      class="btn_github"
      ><i class="fab fa-github"></i> GitHub</a
    >
  </div>

  {{content}}
</body>
